<section id="features" class="bg-light">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-center section-headline">Some Highlights</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class=" iconfont fa-bolt fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h4 class=" ">Description1</h4>
                    <p class=" ">Description1</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class=" iconfont fa-cloud fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h4 class=" ">Description2
                    </h4>
                    <p class=" ">Description2</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class=" iconfont fa-cart-plus fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h4 class=" ">Description3</h4>
                    <p class=" ">Description3</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class=" iconfont fa-trophy fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h4 class=" ">Description4</h4>
                    <p class=" ">Description4</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
