
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% seo %}

  <!-- Custom styles for this template -->
  <link href="/assets/css/main.css?v=2" rel="stylesheet">

  <!-- favicon & icons -->
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-icon-180x180.png">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600&display=swap" rel="stylesheet">

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{site.data.main.analytics}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{site.data.main.analytics}}');
  </script>

</head>
