<div class="product single-product col">
  <div class="card shadow border-0">
    <img src="{{include.image}}" alt="{{include.title}}" height="{{include.image-height}}" data-toggle="modal" data-target="#id-{{include.id}}">
    <div class="card-body" data-toggle="modal" data-target="#id-{{include.id}}">
        <h4>{{include.title}}</h4>
        <p>{{include.description}}</p>
    </div>
    <div class="card-footer">
      <p><span class="price"><strong>{{site.data.main.currency}}{{include.price}}</strong></span>
       <button
                class="snipcart-add-item btn btn-sm btn-success float-right"
                data-item-id="{{include.id}}"
                data-item-name="{{include.title}}"
                data-item-price="{{include.price}}"
                data-item-weight="{{include.weight}}"
                data-item-url="{{site.data.main.url}}{{page.url}}"
                data-item-description="{{include.description}}"
                data-item-max-quantity="{{include.maximum-quantity}}">Add to cart
        </button>
      </p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="id-{{include.id}}" tabindex="-1" role="dialog" aria-labelledby="id-{{include.id}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <img src="{{include.image}}" alt="{{include.title}}">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">{{include.title}}</h5>
      </div>
      <div class="modal-body">
          <p>{{include.description}}</p>
          <p><strong>Price: {{site.data.main.currency}}{{include.price}}</strong></p>
          <p><strong>Weight: {{include.weight}} gms</strong></p>
          <p><strong>Category: </strong><span class="badge badge-primary">{{include.category}}</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button
                 class="snipcart-add-item btn btn-sm btn-success float-right"
                 data-item-id="{{include.id}}"
                 data-item-name="{{include.title}}"
                 data-item-price="{{include.price}}"
                 data-item-weight="{{include.weight}}"
                 data-item-url="{{site.data.main.url}}{{page.url}}"
                 data-item-description="{{include.description}}"
                 data-item-max-quantity="{{include.maximum-quantity}}"
                 >Add to cart
         </button>
      </div>
    </div>
  </div>
</div>
